.about-section {
    display: flex;
    flex-direction: column;
    background-color: #d1e0ed;
    text-align: center;
}

.company-info {
    display: flex;
    width: 100%;
    background-color: #d1e0ed;
    flex-wrap: wrap;
}
.company-info-section p {
    padding-left: 2em;
}

.company-info-section ul{
    list-style: none;
    /* display: flex;
    flex-direction: column;
    /* gap: 1em; */
}

.company-info-section ul li{
    display: flex;
    align-items: center;
}
.company-info-section ul li:nth-child(2n + 1){
    text-transform: uppercase;
}

.company-info-section ul li:nth-child(2n){
    margin-left: 3em;
}


.company-info-section ul li strong{
    margin-right: 4px;
}

.bullet-span{
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.bullet-span img{
    width: 100%;
    height: auto;
}

.info-section {
    background-color: #d1e0ed;
    color: #000;
    padding: 5em;
    flex: 1 1 50%;
    min-height: 22em;
    text-align: left;
}

.info-section h4,
.info-section h5 {
    letter-spacing: 2px;
    font-weight: 600;
    opacity: 0.7;
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

.company-info-img-section {
    flex: 1 1 50%;
    display: flex;
    place-items: center;
}

.company-info-img {
    width: 100%;
    height: auto;
}

.company-info-section {
    text-align: start;
    padding: 2em;
    background-color: #BfD1E3;
}

.company-info-section h2{
    text-align: center;
}

.company-info-section ul{
    padding-left: 2em;
}

.company-info-section .logo-span {
    display: block;
    width: 150px;
    height: 100px;
    float: right;
}
.company-info-section .logo-span img {
    width: 100%;
    height: auto;
}

.founder-info {
    display: flex;
    padding: 2em;
    gap: 5em;
    flex-wrap: wrap;
    /* background-color: #edf3fa; */
}
.founder-info h2:first-child {
    flex: 1 1 100%;
}

.founder-img-section {
    flex: 0 1 40%;
    padding: 0 1em;
}

.founder-img {
    width: 70%;
    aspect-ratio: 5/6;
}

.founder-info-section {
    flex: 0 1 40%;
    text-align: center;
}

.founder-info-section p {
    text-align: justify;
}

.toggle-btn {
    background-color: #edf3fa;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #d1e0ed;
}

@media (max-width: 600px) {
    .founder-info {
        flex-direction: column;
    }
}