.main-logo-section {
    position: relative;
    width: 100%;
}

.home-page-logo-img {
    width: 100%;
    height: auto;
    display: block;
}

.home-img-overlay {
    position: absolute;
    /* This places text over the video */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 0 1em 1em;
    border-radius: 10px;
}

.contract-link {
    text-align: center;
    padding: 1em;
    border: 2px solid white;
    margin: 0 7em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
}

.contract-link:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.home-content-section {
    background-color: #d1e0ed;
    padding: 1em 2em;
}

.home-content-section h2 {
    text-align: center;
    padding-bottom: 1em;
}

.home-content-section ul {
    list-style: none;
}

.home-content-section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.home-content-section ul li span {
    width: 5em;
    height: 5em;
    display: inline-block;
    margin: 0 1em 0 0;
}

.home-content-section ul li span img {
    display: block;
    width: 100%;
    height: auto;
}

/* Default styles */
.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
    /* Full viewport height */
    overflow: hidden;
    text-align: center;
    background-color: #d1e0ed;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Ensures the video covers the area without distortion */
    z-index: 1;
    /* Sends the video behind other content */
}

.video-section h2 {
    font-size: 2rem;
    position: absolute;
    top: 5%;
    z-index: 1000;
    transform: translateY(-50%);
}

@media (max-width: 1000px) {
    .video-section {
        height: 70vh;

        /* Adjust section height for smaller screens */
    }

    .video-section h2 {
        font-size: 1.7rem;
        top: 7%;
        /* Adjust heading size for smaller screens */
    }

}

@media (max-width: 900px) {
    .video-section {
        height: 65vh;
        /* Adjust section height for smaller screens */
    }

    .video-section h2 {
        font-size: 1.5rem;
        top: 7%;
        /* Adjust heading size for smaller screens */
    }

}

/* Responsive adjustments */
@media (max-width: 800px) {
    .video-section {
        height: 57vh;
        /* Adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1.4rem;
        top: 8%;
        /* Adjust heading size for smaller screens */
    }
    .contract-link {
        margin: 0 4em;
        font-size: 12px;
    }

}

@media (max-width: 700px) {
    .video-section {
        height: 52vh;
        /* Adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1.3rem;
        top: 9%;
        /* Adjust heading size for smaller screens */
    }

}

@media (max-width: 600px) {
    .video-section {
        height: 45vh;
        /* Further adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1.2rem;
        top: 10%;
        /* Further adjust heading size for smaller screens */
    }
    .contract-link {
        margin: 0 2em;
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    .video-section {
        height: 35vh;
        /* Further adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1.1rem;
        top: 11%;
        /* Further adjust heading size for smaller screens */
    }
}

@media (max-width: 480px) {
    .video-section {
        height: 33vh;
        /* Further adjust section height for smaller screens */
    }
}

@media (max-width: 420px) {
    .video-section {
        height: 31vh;
        /* Further adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1rem;
        top: 12%;
        /* Further reduce heading size for very small screens */
    }
}

@media (max-width: 400px) {
    .video-section {
        height: 27vh;
        /* Further adjust section height for smaller screens */
    }
    .video-section h2 {
        font-size: 1rem;
        top: 12%;
        /* Further reduce heading size for very small screens */
    }
    .contract-link {
        margin: 0 2em;
        font-size: 10px;
    }

    .services-content-section h2 {
        font-size: 1.5rem;
        /* Adjust heading size for smaller screens */
    }
}