.main-header {
    background-color: #edf3fa;
    max-height: 8em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.main-header nav {
    margin-top: 3em;
    margin-left: auto;
    padding-right: 5em;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

a {
    padding: 0.5em;
    display: block;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

.main-logo-span {
    display: block;
    width: 12em;
}

.main-logo {
    width: 100%;
    height: auto;
}

@media (width <= 600px) {
   .main-header nav {
    font-size: 8px;
   }
}