.main-header {
    background-color: #edf3fa;
    max-height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header nav {
    margin-top: 3em;
    margin-left: auto;
    padding-right: 2rem;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    /* gap: 0.5rem; */
}

.language-div {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}

/* in Header.module.css */
.flag {
    width: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.flag:hover {
    transform: scale(1.1);
}

.activeFlag {
    border: 2px solid #444;
    border-radius: 4px;
}


/* a {
    padding: 0.5em;
    display: block;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
} */

/* a:hover {
    background-color: #d1e0ed;
    border-radius: 10px;
} */

.main-logo-span {
    display: block;
    width: 11rem;
}

.main-logo {
    width: 100%;
    height: auto;
}

@media (width <=1000px) {
    .main-header nav {
        font-size: 11px;
    }
}

@media (width <=900px) {
    .main-header nav {
        font-size: 10px;
    }
}

@media (width <=800px) {
    .main-header nav {
        font-size: 10px;
    }
}

@media (width <=700px) {
    .main-header nav {
        font-size: 9px;
    }
}

@media (width <=600px) {
    .main-header nav {
        font-size: 8px;
    }
}

@media (width <=500px) {
    .main-header nav {
        font-size: 7px;
        padding-right: 1rem;
    }
}

@media (width <=400px) {
    .main-header nav {
        font-size: 6px;
    }
}