.main-services-section {
    background-color: #d1e0ed;
    padding-top: 1em;
}

.services-section {
    display: flex;
    padding: 0 3em;
    gap: 2em;
}

.services-header {
    /* opacity: 0.6; */
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5em;
}

.services-info-section {
    flex: 0 1 30%;
}

.services-info-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.services-info-section ul li {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}


.services-info-section ul li span {
    /* display: inline-block; */
    flex: 0 0 auto;
    margin-right: 1em;
    width: 2em;
    height: 3em;
}

.services-info-section span img {
    width: 100%;
    height: auto;
}

.services-info-section ul li p {
    text-align: justify;
    font-weight: bold;
}

.services-content-section {
    flex: 0 1 65%;
}

.services-content-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    /* margin-top: 1.5em; */
}

.services-content-section ul li {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13em;
    height: 10em;
    padding: 0.5em 0.3em;
    list-style: inside;
    font-size: 16px;
    text-align: center;
    color: white;
    border: 3px solid white;
}

.services-content-section ul li::marker {
    color: white;
}

.services-content-section ul li:nth-child(1),
.services-content-section ul li:nth-child(2),
.services-content-section ul li:nth-child(3) {
    background-color: #022867;
}

.services-content-section ul li:nth-child(4),
.services-content-section ul li:nth-child(6) {
    background-color: #075AAA;
}

.services-content-section ul li:nth-child(5) {
    background-color: #0E92C3;
}

.services-content-section ul li:nth-child(7) {
    background-color: #D8B61F;
}

.services-content-section ul li:nth-child(8) {
    background-color: #499847;
}

.logo-section p span {
    display: inline-block;
    height: 5em;
    padding-left: 2em;
    font-size: 1.7em;
}

.logo-section p span img {
    height: 100%;
    width: auto;
}


@media (max-width: 800px) {
    .services-section {
        font-size: 12px;
        padding: 0 2em;
        gap: 2em;
    }
    .services-content-section ul li {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .services-section {
        padding: 0 2em;
        gap: 3em;
        font-size: 12px;
    }

    .services-info-section ul li p{
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .services-info-section ul li p{
        font-size: 10px;
    }

    .services-content-section ul li {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .services-section {
        flex-wrap: wrap;
    }

    .services-info-section {
        flex: 0 1 100%;
    }

    .services-info-section ul li {
        padding-bottom: 0;
    }

    .services-info-section ul li p{
        font-size: 12px;
    }

    .services-content-section {
        flex: 0 1 100%;
    }

    .services-content-section ul {
        justify-content: space-evenly;
        gap: 1em;
    }

    .services-content-section ul li {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .services-content-section ul li {
        font-size: 9px;
    }
}

@media (max-width: 365px) {
    .services-content-section ul li {
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    .services-content-section ul li {
        font-size: 10px;
    }
}