.main-services-section {
    background-color: #d1e0ed;
    padding-top: 1em;
}

.services-section {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0 3em;
    gap: 4em;
}

.services-header {
    /* opacity: 0.6; */
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 2em;
}

.services-info-section {
    flex: 0 1 20%;
}

.services-info-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.services-info-section ul li {
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: justify;
}


.services-info-section ul li span {
    margin-top: 1em;
    display: inline-block;
    width: 8em;
    height: 8em;
}

.services-info-section span img {
    width: 100%;
    height: auto;
}

.services-content-section {
    flex: 0 1 75%;
}

.services-content-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.services-content-section ul li {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 10em;
    padding: 1em 0.5em;
    list-style: inside;
    font-size: 12px;
    text-align: center;
    color: white;
    border: 3px solid white;
}

.services-content-section ul li::marker {
    color: white;
}

.services-content-section ul li:nth-child(4n + 1) {
    background-color: #022867;
}

.services-content-section ul li:nth-child(4n + 2) {
    background-color: #075AAA;
}

.services-content-section ul li:nth-child(4n + 3) {
    background-color: #0E92C3;
}

.services-content-section ul li:nth-child(4n + 4) {
    background-color: #D8B61F;
}

@media (max-width: 800px) {
    .services-section {
        font-size: 12px;
        padding: 0 2em;
        gap: 2em;
    }
}

@media (max-width: 700px) {
    .services-section {
        padding: 0 2em;
        gap: 2em;
        font-size: 10px;
    }
}
@media (max-width: 650px) {
    .services-content-section ul li{
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .services-section {
        flex-wrap: wrap;
    }

    .services-info-section {
        flex: 0 1 100%;
    }

    .services-info-section ul {
        gap: 0.5em;
    }


    .services-info-section span {
        font-size: 5px;
    }

    .services-info-section>span {
        float: right;
        font-size: 1em;
        margin-top: -30px;
    }

    .services-content-section {
        flex: 0 1 100%;
    }

    .services-content-section ul {
        justify-content: space-evenly;
        gap: 1em;
    }

    .services-content-section ul li {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .services-content-section ul li {
        font-size: 9px;
    }
}

@media (max-width: 365px) {
    .services-content-section ul li {
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    .services-content-section ul li {
        font-size: 10px;
    }
}
