* {
  margin: 0;
  padding: 0;
}

html {
  font: 14px/1.5 Verdana, Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body,
table,
textarea,
input,
button,
option,
label {
  font: inherit;
}

p,
ul,
ol,
dl {
  padding-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h1 {
  font-size: 3.0em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.9em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.0em;
}

/* body {
  padding: 0 2em;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}